<!DOCTYPE html>
<html lan="en" and dir="Itr">

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="index.css">
    <script src ="admin-login.js"> </script>
</head>

<body style="min-height: 1700px;">

  <!-- Nav Bar -->
  <header>
    <nav class="navbar">
       <div class="navbar__container">
          <a href="/" id="navbar__logo"><img src="frontEndImages/elanco.png" alt="Logo" /></a>
          <div class="navbar__toggle" id="mobile-menu">
             <span class="bar"></span> <span class="bar"></span>
             <span class="bar"></span>
          </div>
          <ul class="navbar__menu">
             <li class="navbar__item">
                <a href="/" class="navbar__links">Home</a>
             </li>
             <li class="navbar__item"><a href="/login" class="navbar__links">Log In</a></li>
          </ul>
       </div>
    </nav>
  </header>

  <div class="main">
      <div class="main__container">
        
        <div class="main__content2">
          <h1>Welcome to Admin</h1>
          <p>Elanco is a global leader in animal health dedicated to innovating and delivering products and services to prevent and treat 
              disease in farm animals and pets, creating value for farmers, pet owners, veterinarians, stakeholders, and society
                as a whole.</p>
          
          <button class="main__btn"><a href="#">Invalid Labels</a></button>
          <button class="main__btn2"><a href="#">Most Common Animal</a></button>
          <button class="main__btn3"><a href="#">No Animal</a></button>

          <div class="popup">
            <img id="popupImage" src="" alt="popup image">
          </div>
    
        </div>
        
        <div class="main__img--container">
          <div class="box2">
            <style>
              .popup {
                position: fixed;
                top: 30%;
                left: 80%;
                transform: translate(-50%, -50%);
                width: 250px;
                height: 250px;
                background-color: white;
                border: 1px solid black;
                z-index: 999;
                display: none;
              }
            
              .popup img {
                max-width: 100%;
                max-height: 100%;
              }
            </style>                

            <script>
              function showImage(path) {
                const imageUrl = '/images/' + path;
                const image = document.getElementById('popupImage');
                image.src = imageUrl;
                const popup = document.querySelector('.popup');
                popup.style.display = 'block';
              }
            </script>
          
            <% if (data.length > 0) { %>
              <table>
                <tr>
                  <th>Image</th>
                  <th>Search Date</th> 
                  <th>Image Contains Animal</th>
                  <th>AI Labels, with confidence</th>
                  <th>View Image</th>
                </tr>
                <% for (let d of data) { %>
                <tr>
                  <td><button onclick="showImage('<%= d.path %>')">View <%= d.path %></button></td>
                  <td><%= formatDate(d.date) %></td> 
                  <td><%= d.containsAnimal %></td>
                  <% for (let l of d.labels) { %>
                  <td><%= l.description %>, <%= (l.score * 100).toFixed(2) %>%</td>
                  <% } %>        
                </tr>
                <% } %>
              </table>
            <% } else { %>
              <li>No user data to display</li>
            <% } %>
            
          </div>
        </div>
  </div>

  <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
  </div>

</body>

</html>
