<!DOCTYPE html>
<html lan="en" and dir="Itr">

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="index.css">
    <script src="../../server/admin-index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body style="min-height: 1700px;">

  <!-- Nav Bar -->
  <header>
    <nav class="navbar">
       <div class="navbar__container">
          <a href="/" id="navbar__logo"><img src="frontEndImages/elanco.png" alt="Logo" /></a>
          <div class="navbar__toggle" id="mobile-menu">
             <span class="bar"></span> <span class="bar"></span>
             <span class="bar"></span>
          </div>
          <ul class="navbar__menu">
             <li class="navbar__item">
                <a href="/" class="navbar__links">Home</a>
             </li>
             <li class="navbar__item"><a href="/login" class="navbar__links">Log In</a></li>
          </ul>
       </div>
    </nav>
  </header>

  <!-- END -->

  <div class="main">

    <div class="main__container">

      <div class="main__content2">

        <h1>Welcome to Admin</h1>
        <p>Elanco is a global leader in animal health dedicated to innovating and delivering products and services to prevent and treat 
            disease in farm animals and pets, creating value for farmers, pet owners, veterinarians, stakeholders, and society
              as a whole.</p>

        <button class="main__btn" onclick="filterTable('All Data')">All Data</button>
        <button class="main__btn2" onclick="filterTable('No Animal')">No Animal</button>
        <button class="main__btn3" onclick="filterTable('Most Common Animal')">Most Common Animal</button>

        <style>
          .popup {
          position: fixed;
          top: 30%;
          left: 80%;
          transform: translate(-50%, -50%);
          max-width: 250px;
          max-height: 250px;
          background-color: white;
          border: 1px solid black;
          z-index: 999;
          display: none;
        }
        .popup img {
          max-width: 250px;
          max-height: 250px;
        }   
        </style> 

        <div class="popup">
          <img id="popupImage" src="" alt="popup image">
        </div>
      </div>

      <div class="main__img--container">
        <div class="box2">

          <!-- Most common animal bar chart -->
          <div>
            <canvas id="mostCommonChart"></canvas>
          </div>

          <table id="myTable">
            <tr>
              <th>Image</th>
              <th>Search Date</th> 
              <th>Image Contains Animal</th>
              <th>AI Labels, with confidence</th>
              <th>View Image</th>
            </tr>
            <% for (let d of data) { %>
              <tr class="data-row">
                <td><button onclick="showImage('<%= d.path %>')">View <%= d.path %></button></td>
                <td><%= formatDate(d.date) %></td> 
                <td><%= d.containsAnimal %></td>
                <% for (let l of d.labels) { %>
                <td><%= l.description %>, <%= (l.score * 100).toFixed(2) %>%</td>
                <% } %>        
              </tr>
            <% } %>
          </table>

        </div>
    </div>

  </div>    

  <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
  </div>
</body>

<!-- Chart.js - Unsure how to move to admin index yet -->
<script>
  const labels = JSON.parse('<%- JSON.stringify(label) %>');
  const data = JSON.parse('<%- JSON.stringify(frequency) %>');    
  const canvas = document.getElementById('mostCommonChart');
  const ctx = canvas.getContext('2d');
  const backgroundColour = [];
  data.forEach((element) => {
      const gradient = ctx.createLinearGradient(0, 0, 0, 400);
      gradient.addColorStop(0, `rgba(100, 223, 223)`);
      gradient.addColorStop(1, `rgba(94, 96, 206)`);
      backgroundColour.push(gradient);
  });
  try {
      // Chart creation code
      const chart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'label detections',
                  data: data,
                  borderWidth: 1,
                  backgroundColor: backgroundColour
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
  } catch (error) {
      // Log any errors that occur
      console.error('Error creating chart:', error);
  }
</script>

<script>
  function showImage(path) {
    const imageUrl = '/images/' + path;
    const image = document.getElementById('popupImage');
    image.src = imageUrl;
    const popup = document.querySelector('.popup');
    popup.style.display = 'block';
  };
</script>

  <!-- END -->



</html>
